.advantages {
    padding: 64px 0;
    font-family: "Montserrat";
    color: #181a16;
    margin: auto;
    max-width: 1254px;
}

a {
    text-decoration: none;
}
.container {
  box-sizing: border-box;
  position: relative;
  display:flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content:space-around;
	align-items: center;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
ul{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1290px;
    margin-left: auto;
    margin-right: auto;
}
ul.logos li {
  /* display: inline-block; */
  vertical-align: middle;
  list-style-type: none;
  text-align: justify;
  left:0;
  right:0;
  margin: auto;
}

.logo {
	width: 174px;
	height: 81px;
	background-image: url(../img/logo.png);
}

.btn{
   font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 36px;
 padding: 16px 65px;
 /* margin-bottom: 20px; */
  color: #FE847F;
  border: 2px solid #FE847F;
  border-radius: 50px;
}

.advantages .title {
    margin: 0;
    margin-bottom: 58px;

    font-size: 52px;
    line-height: 150%;
    text-align: center;
}

.advantages .item {
    display: flex;
    padding-top: 234px;
    max-width: 386px;

    background-repeat: no-repeat;
    background-position: center 0;
}

.advantages .item-one {
    background-image: url("../img/icon-hand.png");
}

.advantages .item-two {
    background-image: url("../img/icon-diplom.png");
}

.advantages .item-three {
    background-image: url("../img/icon-money.png");
}

.advantages-items {
    display: flex;
    justify-content: space-between;
}

.advantages-items p {
    margin: 0;

    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
}